<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/expense/forms.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/expenses/create" method="POST">
    <label for="expense-category-input">Expense:</label>
    <input type="text" name="category" id="expense-category-input" placeholder="Input Expense">
    <label for="expense-cost-input">Cost:</label>
    <input type="text" name="amount" id="expense-cost-input" placeholder="Input Cost">
    <button class="add-expense" type="submit">Add Expense</button>
  </form>
</main>


<%- include("../partials/footer") %>