html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #000000;
  color: #f6f6f6;
  /* Use montserrat font, if none are available use any found sans-sarif font */
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/* alight the nav bar items in the center evenly */
nav {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  
  padding: 5px;
  min-height: 45px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 5px;
  border-radius: 1px;
  color: #FF00FF;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.right {
  margin-left: auto;
}

#profile-photo {
  border-radius: 50%;
}

#logout {
  background-color: #29ABE2;
  color: #000000;
}

#enter {
  background-color: #29ABE2;
  color: #000000;
  margin: 10px;
  font-size: medium;
}

