html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #000000;
  color: #f6f6f6;
  /* Use montserrat font, if none are available use any found sans-sarif font */
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/* alight the nav bar items in the center evenly */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-bottom: 2px solid #FF00FF;
  min-height: 45px;
}

nav > a {
  margin: 5px;
  justify-content: center;
  text-decoration: none;
  padding: 5px;
  border-radius: 1px;
  color: #FF00FF;
}

#list a {
  border-radius: 4px;
  background-color: #b8c0c2;
  padding: 4px;
  text-decoration: none;
  font-size: 16px;
  color: #424748;
}

#list a:visited{
  color: #424748;
}

#list a:hover {
  background-color: white;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.right {
  margin-left: auto;
}

#profile-photo {
  border-radius: 50%;
}

ul {
  margin: 0 0 16px;
  padding: 0;
  list-style: none;
}

li {
  font-weight: bold;
}

table {
  font-size: 20px;
}

table th {
  padding: 5px;
  border-bottom: 2px solid #FF00FF;
  text-align: center;
}

table td {
  padding: 10px;
  text-align: left;
}

form * {
  padding: 5px;
  border-radius: 5px;
}


section {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 16px;
}

section div:nth-child(even) {
  font-weight: bold;
}


.expense-item {
  display: flex;
  text-align: right;
  justify-content: center;
}

.label {
  padding-left: 15px;
}

table > th {
  margin-left: 50px;
  font-size: 5px;
}

#comments-table{
  display: grid;
  /* grid-template-columns: 1; */
}

h1 {
  padding: 10px;
  border-bottom: 2px solid #FF00FF;
}

a {
  color: #FF00FF;
}

.comments {
  padding: 10px;
  border-bottom: 2px solid #FF00FF;
}

h2 {
  padding: 10px;
  border-bottom: 2px solid #FF00FF;
}

#welcome-image {
  max-width: 100%;
  height: auto;
}

.welcome-image {
  width: 300px;
  height: 300px;
}

#app-logo {
  max-width: 30px;
  height: auto;
}

/* form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 100px));
  font-size: 20px;
  text-align: left;
} */

form * {
  padding: 2px;
  border-radius: 5px;
  font-size: 15px;
}

form > button {
  /* grid-column: span 2; */
  justify-self: center;
  width: auto;
  margin-left: auto;
  font-size: 15px;
  color: black;
  background-color: #29ABE2;
}

.deleteBtn {
  width: 25px;
  height: 25px;
}

.edit{
  font-size: 15px;
  width: auto;
  color: black;
  background-color: #29ABE2;
  border-radius: 5px;
}


/* #list {
  display: flex;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 100px));
  font-size: 20px;
  text-align: left;
}  */